[submodule "test-server/ruby-v2-server/local-ruby-sdk"]
	path = test-server/ruby-v2-server/local-ruby-sdk
	url = git@github.com:aws/aws-sdk-ruby-staging.git
[submodule "test-server/ruby-v3-server/local-ruby-sdk"]
	path = test-server/ruby-v3-server/local-ruby-sdk
	url = git@github.com:aws/aws-sdk-ruby-staging.git
[submodule "test-server/go-v4-server/local-go-s3ec"]
	path = test-server/go-v4-server/local-go-s3ec
	url = git@github.com:aws/private-amazon-s3-encryption-client-go-staging.git
