[submodule "test-server/ruby-v2-server/local-ruby-sdk"]
	path = test-server/ruby-v2-server/local-ruby-sdk
	url = git@github.com:aws/aws-sdk-ruby-staging.git
[submodule "test-server/ruby-v3-server/local-ruby-sdk"]
	path = test-server/ruby-v3-server/local-ruby-sdk
	url = git@github.com:aws/aws-sdk-ruby-staging.git